# =============================================================================
# AWS Configuration
# =============================================================================

# AWS account ID where resources will be deployed
aws_account_id = ""

metastore_name = "wldemo-metastore"

# AWS region for deployment
region = "us-east-2"

# =============================================================================
# Databricks Configuration
# =============================================================================

# Admin user email for workspaces and catalog management
admin_user = "brendan.byam@databricks.com"

# executor service principal application id
executor_application_id = ""

# Databricks account ID
databricks_account_id = ""

#telemetry bucket info
telemetry_bucket_name = "telemetry-byam"
telemetry_location_name = "telemetry-location"

